<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/styles/style.css"> -->
    
    <title>Weather App</title>
</head>
<body>
    <div class="container">
        <h1 class="header">Weather App</h1>

        <div class="collect">
            <input type="text" placeholder="Enter the URL" onblur="onBlur()" name="zip" id="url">
            <input type="submit" name="" value="submit" onclick="return handleClick(event)" onsubmit="return handleClick(event)">
            <!-- <button label="test" id="btn">Process</button> -->
        </div>


        <div class="top-display">
            <div class="icon" id="icon-image"></div>
            <div class="display">
                <div class="display-block">
                    <div class="display-box" id="irony">IRONY</div>
                    <div class="display-box" id="confidence">CONFIDENCE</div>
                </div>
                <div class="display-block">
                    <div class="display-box" id="agreement">AGREEMENT</div>
                    <div class="display-box" id="subjectivity">SUBJECTIVITY</div>
                </div>
            </div>
        </div>



    </div>
    <!-- <script type="module" defer type="text/javascript" src="app.js"></script> -->
    <script type="text/javascript" src="../../../dist/main.js"></script>


</body>
</html>