@import "./general";
@import "./variables";
@import "./mixings";


.top-display .display .display-block {
    @include flex-centered-direction(column, 0px); 

}

#click{
    @include inputs-settings();
    width : 150px;
    &:hover{
        background-color: $themeColor2; 
    }
}

.collect {
    @include flex-centered-direction(column, 20px); 
    input{
        @include inputs-settings();
        width : 350px;
        margin: 20px;
    }
    
}

.display {
    padding-top: 30px;
}

.display-box {
    @include flex-centered-direction(column, 0px); 
    @include response-text();
    height: 50px;
    width: 300px;

}

.coupled {
    @include flex-centered-direction(row, 0px);
}

.Label-box {
    padding-bottom: 15px;
}
