@import "./general";
@import "./variables";
@import "./mixings";

input {
    width : 350px;
    height: 2rem;
    padding: 0;
    margin: 0;
}

#click{
    width : 150px;
    height: 2rem;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    &:hover{
        background-color: $themeColor2;
    }
}


body{

    @include flex-centered-column();
    height: 100vh;
    background: linear-gradient($themeColor2, $themeColor1);
    font-family: sans-serif;
    color: $textColor;
}


.container {
    @include flex-centered-column();
    padding-top: 50px;


}

.collect {
    @include flex-centered-column();
    justify-content: center;
}

.collect input {
    margin: 20px;
}



.top-display {
    @include flex-centered-column();
    justify-items: center;
    margin: auto;
}


.display {
    @include flex-centered-column();
    justify-items: center;

}


.display-block {
    display: flex;
}

.display-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 50px;
    width: 300px;
}