<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script defer src="app.js" type="text/javascript"></script>
    <title>Udacity - NLP</title>
</head>
<body>
    <div class="container">
        <h1 class="header">Natural Language Processing</h1>
            <form action="">
                <input type="text" name="" id="url">
                <button label="test" id="btn">Process</button>
            </form>
                
            </div>

    </div>


</body>
</html>